<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened></mat-sidenav>
  <mat-sidenav-content>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
        <mat-card>
          <mat-card-title>Funcionalidades do Perfil</mat-card-title>
          <mat-card-subtitle
            >Adicione ou remova funcionalidades</mat-card-subtitle
          >
          <mat-card-content align="start">
            <div class="autocomplete-content">
              <app-autocomplete
                (onSelectedFunc)="onSelectedFunc($event)"
              ></app-autocomplete>
            </div>
            <app-acl-list
              (onSelectedItem)="onSelectedAclItem($event)"
            ></app-acl-list>
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              mat-button
              mat-raised-button
              (click)="doRemoveAclItems()"
              [disabled]="!showRemoveAclItem"
            >
              Remover
            </button>
            <button mat-button mat-raised-button>OK</button>
          </mat-card-actions>
        </mat-card>
      </mat-drawer>

      <div class="example-sidenav-content">
        <app-acl-tree
          (doOpenFuncProperties)="onSelectedRole($event)"
        ></app-acl-tree>
      </div>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
