<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened></mat-sidenav>
  <mat-sidenav-content>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
        <mat-card>
          <mat-card-title>Funcionalidades do Perfil</mat-card-title>
          <mat-card-subtitle
            >Adicione ou remova funcionalidades</mat-card-subtitle
          >
          <mat-card-content align="start">
            <div *ngIf="showFiller" class="divider">
              <mat-divider></mat-divider>
            </div>

            <div class="autocomplete-content">
              <app-autocomplete></app-autocomplete>
            </div>
            <app-acl-list
              [funcList]="selectedRole.functionalities"
            ></app-acl-list>
          </mat-card-content>
          <mat-card-actions align="end">
            <button (click)="showFiller = !showFiller" mat-raised-button>
              Expandir
            </button>
            <button mat-button>Salvar</button>
          </mat-card-actions>
        </mat-card>
      </mat-drawer>

      <div class="example-sidenav-content">
        <app-acl-tree
          (onRolePropertiesRequired)="onSelectedRole($event)"
        ></app-acl-tree>
      </div>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
