<div>
  <form [formGroup]="stateForm">
    <mat-form-field>
      <input
        #functionality
        type="text"
        matInput
        placeholder="Funcionalidades"
        formControlName="functionalityGroup"
        required
        [matAutocomplete]="autoGroup"
      />
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup
          *ngFor="let group of functionalityGroupOptions | async"
          [label]="group.letter"
        >
          <mat-option
            *ngFor="let item of group.functionalities"
            [value]="item.name"
          >
            {{ item.name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="functionality.value = ''"
        cdkFocusInitial
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-icon-button
      (click)="doSelect(functionality.value)"
      [disabled]="!stateForm.valid"
    >
      <mat-icon>library_add</mat-icon>
    </button>
  </form>
</div>
